<!-- html -->
<div id="sidebar" onclick="togglemenu()">
    <div class="toggle-btn">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <ul>
        <li>Home</li>
        <li>Abonnez</li>
        <li>Librairy</li>
        <li>Contacts</li>
    </ul>
</div>
<!-- css -->
#sidebar{
    border-radius: 10px;
    padding-top: 180px;
    margin-left: -40%;
    width: 10%;
    height: 310px;
    margin-top: -30%;
    background-color: rgba(177, 178, 182, 0.616);
    cursor: pointer;
}
#sidebar.active{
    margin-top:  0px;
}
#sidebar li{
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 5px;
    border-bottom: 1px solid white;
    text-align: center;
    list-style: none;
}
.toggle-btn{
    position: absolute;
    left: 2%;
    top: 20px;
}
.toggle-btn span{
    display: block;
    background-color: rgba(177, 178, 182, 0.616);
    width: 30px;
    height: 5px;
    margin: 3px;
}
<!-- js -->
function togglemenu(){
    document.getElementById('sidebar').classList.toggle('active');
}